#titulo {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-padding: 0 0 10px 0;
}
.table-view {
    -fx-background-color: white;
    -fx-border-collapse: collapse;
    -fx-border-width: 2px;
    -fx-border-color: blue;
}
.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-border-color: blue;
    -fx-border-width: 0 0 0 1px;
}
.table-view .column-header .text {
    -fx-font-weight: bold;
    -fx-fill: black;
}
.table-view .column-header{
    -fx-background-color: blue;
    -fx-border-color: blue;

}
.table-row-cell{
    -fx-background-color: white;
    -fx-border-color: blue;
    -fx-border-width: 1px;
}
.table-row-cell .text {
    -fx-fill: black;
    -fx-font-weight: bold;
}
.table-row-cell:hover{
    -fx-background-color: cyan;
}
.table-row-cell:selected{
    -fx-background-color: cyan;
}